body {
    /*background: url(DSC05473.jpg) no-repeat center fixed; 
    background-size: cover;*/
    background-color: #ffffff;
    margin:0;
    overflow-x: hidden;
    }

@font-face {
  font-family: Glacial Indifference;
  src: url(../fonts/GlacialIndifference-Regular.otf);
}
@font-face {
  font-family: Glacial Indifference;
  src: url(../fonts/GlacialIndifference-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: Glacial Indifference;
  src: url(../fonts/GlacialIndifference-Italic.otf);
  font-style: italic;
}

.header {
  position:sticky;
  top:0;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  background-color: #fafafa;
  z-index:4;

  img{
    width:4vw;
    margin:18px;
  }
  .btn {
  position: absolute;
  left : 30px;
  border : 0.1em solid;
  border-radius: 0.3em;
  display:flex;
  align-items: center;
  text-align: center;
  margin:0.5em 0.5em;
  padding:1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  height:0.8em;
  background-color: #dadada00; /* transparent */
    a {
      font-size: 1.3vw;
      font-family: 'Glacial Indifference';
      text-decoration: none;
      text-align: center;
      color:#000000;
      font-weight: 400;
      letter-spacing: 0.3em;
    }
  }
  .contact {
    color: #2a2a41;
    font-family: 'Glacial Indifference';
    text-align: left;
    margin: 0;
    font-weight: 500;
    letter-spacing: 0.3em;
    line-height: 1;
    position:absolute;
    right:0px;
    margin-right: 5%;
    a {
      font-size: 1vmax;
      display:block;
      font-weight: 200;
      text-align: right;
      text-decoration: none;
      color:#000000;
      font-family: "Glacial Indifference";
    }
  }
}

@media screen and (max-width: 700px) {
  .mot  {
    width: 80vw;
    right:4%;
  }
}

.bloc {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 4em 0;
  box-sizing: border-box;
  color: white;
  position: relative;

	.mot {
    position:absolute;
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    font-family: 'Glacial Indifference';
    height:auto;
		top:3%;
    left:4%;
    background-color: rgb(0,0,0,0.45);
    border-radius: 20px;
    padding: 2%;
    h1 {
      font-size:2.2vmax;
      margin-bottom: 0;
      letter-spacing: 0.2vmax;
      font-weight: 600;
      position: relative;
      width: fit-content;
    }

    h1::after,
    h1::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: linear-gradient(to right, #00b97c, #00ffff);
      bottom: -5px;
      left: 0;
      transform: scaleX(0); /* Initially set to 0 */
      transform-origin: right; /* Animate from right to left */
      transition: transform 0.4s ease-out; /* Smooth transition */
    }

    h1::before {
      top: -5px;
      transform-origin: left; /* Animate from left to right */
    }

    h1:hover::after,
    h1:hover::before {
      transform: scaleX(1); /* Scale to full width on hover */
    }

    
    h2 {
      font-size:1.7vmax;
      font-style: italic;
      margin-top: 0;
    }
    p {
      display:block;
      font-size:1.1vmax;
      font-weight: 200;
      letter-spacing:normal;
      margin:0.8vmax;
      margin-left: 0;
      font-style: normal;
    }
    .detail {
      width:70%;
    }
    .assos {
      margin-top: 5vmax;
    }
	}
}

h3 {
  font-size: 1vmax;
  color: #2a2a41;
  font-family: 'Bahnschrift';
  text-align: left;
  margin:0;
  margin-bottom: 1em;
  font-weight: 600;
  letter-spacing: 0.3em;
  line-height: 1;
}

.footer {
  margin:4%;
  text-align: center;
  font-family: 'Bahnschrift';
  letter-spacing: 0.2em;
  font-size: 0.8vmax;
}