body {
    background-color: #ffffff; /* Couleur de fond*/
    padding: 0;
    border:0;
    margin: 0;
    overflow-x: hidden;
  }

@font-face {
  font-family: Glacial Indifference;
  src: url(fonts/GlacialIndifference-Regular.otf);
}
@font-face {
  font-family: Glacial Indifference;
  src: url(fonts/GlacialIndifference-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: Glacial Indifference;
  src: url(fonts/GlacialIndifference-Italic.otf);
  font-style: italic;
}
  


.header {
  position:sticky;
  top:0;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  background-color: #fafafa;
  z-index:4;

  img{
    width:4vw;
    margin:25px;
  }
  .contact {
    color: #2a2a41;
    font-family: 'Glacial Indifference';
    text-align: left;
    margin: 0;
    font-weight: 500;
    letter-spacing: 0.3em;
    line-height: 1;
    position:absolute;
    right:0px;
    margin-right: 5%;
    a {
      font-size: 1vmax;
      display:block;
      font-weight: 200;
      text-align: right;
      text-decoration: none;
      color:#000000;
      font-family: "Glacial Indifference";
    }
  }
}

.menus {
  margin: 0;
  width: 100%;
  height: 120vh;
  font-size: 0;
  a {
      font-size: 2vw;
      color: #ffffff;
      font-weight: bold;
      font-family: 'Bahnschrift';
      text-decoration: none;
      letter-spacing: 10px;
      text-align: left;
      line-height: 2.2;
      text-shadow: none;
    }
  a:hover {
    color: #fff;
    transform: scale(2);
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  }
}

.menus > div {
  display: inline-block;
  width: 50%;
  height: 50%;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: top;
  background-size: cover;
  background-position: center;
  position: relative;
  font-size: initial;
  text-align: center;
}
.centered {
  position: absolute;
  width:70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media screen and (max-width: 700px) {
  .menus > div  {
    width: 100%;
  }
}

/* Specific background images */
.profil_etu {
  background-image: url("img/metro.jpg");
}
.pro {
  background-image: url("img/kaolin.jpg");
}
.skills {
  background-image: url("img/drift.jpg");
}
.about_me {
  background-image: url("img/vallee.jpg");
}


h2 {
  font-size: 1.8vmax;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Glacial Indifference';
  text-decoration: none;
  letter-spacing: 10px;
  text-align: left;
  padding: 0px;
  text-align: 0 1px 1px;
  text-shadow: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h3 {
  font-size: 1vmax;
  color: #2a2a41;
  font-family: 'Glacial Indifference';
  text-align: left;
  margin:0;
  margin-bottom: 1em;
  font-weight: 600;
  letter-spacing: 0.3em;
  line-height: 1;
}

.footer {
  margin:4%;
  text-align: center;
  font-family: 'Bahnschrift';
  letter-spacing: 0.2em;
  font-size: 0.8vmax;
}