body {
  /*background: url(DSC05473.jpg) no-repeat center fixed; 
  background-size: cover;*/
  background-color: #ffffff;
  margin:0;
  overflow-x: hidden;
  }
  

@font-face {
  font-family: Glacial Indifference;
  src: url(../fonts/GlacialIndifference-Regular.otf);
}
@font-face {
  font-family: Glacial Indifference;
  src: url(../fonts/GlacialIndifference-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: Glacial Indifference;
  src: url(../fonts/GlacialIndifference-Italic.otf);
  font-style: italic;
}

.header {
  position:sticky;
  top:0;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  background-color: #fafafa;
  z-index:4;

  img{
    width:4vw;
    margin:18px;
  }
  .btn {
  position: absolute;
  left : 4%;
  border : calc(0.05em + 0.08vw) solid;
  border-radius: 0.3em;
  display:flex;
  align-items: center;
  text-align: center;
  margin:0.5em 0.5em;
  padding:1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  height:1.5vw;
  background-color: #dadada00; /* transparent */
  width: auto;
    a {
      font-size: calc(5px + 1.1vw);
      font-family: 'Glacial Indifference';
      text-decoration: none;
      text-align: center;
      color:#000000;
      font-weight: 400;
      letter-spacing: 0.3em;
    }
  }
  .contact {
    color: #2a2a41;
    font-family: 'Glacial Indifference';
    text-align: left;
    margin: 0;
    font-weight: 500;
    letter-spacing: 0.3em;
    line-height: 1;
    position:absolute;
    right:0px;
    margin-right: 5%;
    a {
      font-size: calc(5px + 0.8vw);
      display:block;
      font-weight: 200;
      text-align: right;
      text-decoration: none;
      color:#000000;
      font-family: "Glacial Indifference";
    }
  }
}

.dessin {
	padding: 4em;
	.mot {
		display: flex;
		align-items:center;
		max-width: 800px;
		margin: auto;
	}
	background: url(img/clio.jpg)
  center center / cover;
	.hover {
		flex: 1;
		display: grid;
    margin:auto;
    text-align: center;
		height: calc(100vh - 10em);
		grid: repeat(2, 1fr) / 100%;
		position: relative;
		div {
			position: relative;
			z-index: 5;
		}
		div:nth-child(2):hover ~ h1 {
			margin-top: -50px;
		}
	}
}

.automobile {
	padding: 4em;
	.mot {
		display: flex;
		align-items:center;
		max-width: 800px;
		margin: auto;
	}
	background: url(img/bugatti.jpg)
  center center / cover;
	.hover {
		flex: 1;
		display: grid;
    margin:auto;
    text-align: center;
		height: calc(100vh - 10em);
		grid: repeat(2, 1fr) / 100%;
		position: relative;
		div {
			position: relative;
			z-index: 5;
		}
		div:nth-child(2):hover ~ h1 {
			margin-top: -50px;
		}
	}
}

.nature {
    padding: 4em;
    .mot {
      display: flex;
      align-items:center;
      max-width: 800px;
      margin: auto;
    }
    background: url(img/nat_about.jpg)
    center center / cover;
    .hover {
      flex: 1;
      display: grid;
      margin:auto;
      text-align: center;
      height: calc(100vh - 10em);
      grid: repeat(2, 1fr) / 100%;
      position: relative;
      div {
        position: relative;
        z-index: 5;
      }
      div:nth-child(2):hover ~ h1 {
        margin-top: -50px;
      }
    }
  }

.vtt {
    padding: 4em;
    .mot {
      display: flex;
      align-items:center;
      max-width: 800px;
      margin: auto;
    }
    background: url(img/vtt.jpg)
    center center / cover;
    .hover {
      flex: 1;
      display: grid;
      margin:auto;
      text-align: center;
      letter-spacing: 0.5em;
      height: calc(100vh - 10em);
      grid: repeat(2, 1fr) / 100%;
      position: relative;
      div {
        position: relative;
        z-index: 5;
      }
      div:nth-child(2):hover ~ h1 {
        margin-top: -50px;
      }
    }
  }

.inge {
    padding: 4em;
    .mot {
      display: flex;
      align-items:center;
      max-width: 800px;
      margin: auto;
    }
    background: url(img/horlogerie2.jpg)
    center center / cover;
    .hover {
      flex: 1;
      display: grid;
      margin:auto;
      text-align: center;
      letter-spacing: 0.5em;
      height: calc(100vh - 10em);
      grid: repeat(2, 1fr) / 100%;
      position: relative;
      div {
        position: relative;
        z-index: 5;
      }
      div:nth-child(2):hover ~ h1 {
        margin-top: -50px;
      }
    }
  }


h1 {
  font-size: calc(10px + 3vw);
  color: #ffffff;
  font-weight: bold;
  font-family: 'Bahnschrift';
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -30px;
  transition: 0.3s cubic-bezier(0.1, 1, 0.5, 1);
  z-index: 5;
}

h3 {
    font-size: 18px;
    color: #2a2a41;
    font-family: 'Bahnschrift';
    text-align: left;
    margin:0;
    margin-bottom: 1em;
    font-weight: 600;
    letter-spacing: 0.3em;
    line-height: 1;
  }

.footer {
  margin:4%;
  text-align: center;
  font-family: 'Bahnschrift';
  letter-spacing: 0.2em;
  font-size: calc(4px + 0.5vmax);
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: calc(10px + 3vw);
  }
  .mot .vtt .hover h1 {
    width:100%;
  }
}
