body {
    /*background: url(DSC05473.jpg) no-repeat center fixed; 
    background-size: cover;*/
    background-color: #ffffff;
    margin:0;
    overflow-x: hidden;
    }

@font-face {
  font-family: Glacial Indifference;
  src: url(../fonts/GlacialIndifference-Regular.otf);
}
@font-face {
  font-family: Glacial Indifference;
  src: url(../fonts/GlacialIndifference-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: Glacial Indifference;
  src: url(../fonts/GlacialIndifference-Italic.otf);
  font-style: italic;
}


.header {
  position:sticky;
  top:0;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  background-color: #fafafa;
  z-index:4;

  img{
    width:4vw;
    margin:18px;
  }
  .btn {
  position: absolute;
  left : 4%;
  border : calc(0.05em + 0.08vw) solid;
  border-radius: 0.3em;
  display:flex;
  align-items: center;
  text-align: center;
  margin:0.5em 0.5em;
  padding:1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  height:1.5vw;
  background-color: #dadada00; /* transparent */
  width: auto;
    a {
      font-size: calc(5px + 1.1vw);
      font-family: 'Glacial Indifference';
      text-decoration: none;
      text-align: center;
      color:#000000;
      font-weight: 400;
      letter-spacing: 0.3em;
    }
  }
  .contact {
    color: #2a2a41;
    font-family: 'Glacial Indifference';
    text-align: left;
    margin: 0;
    font-weight: 500;
    letter-spacing: 0.3em;
    line-height: 1;
    position:absolute;
    right:0px;
    margin-right: 5%;
    a {
      font-size: calc(5px + 0.8vw);
      display:block;
      font-weight: 200;
      text-align: right;
      text-decoration: none;
      color:#000000;
      font-family: "Glacial Indifference";
    }
  }
}

.blocd {
  width: 100vw; /* Full screen width */
  background-size: cover; /* Make image cover the block */
  background-position: center center;
  background-repeat: no-repeat;
  padding: 4em 5%;
  box-sizing: border-box;
  color: white;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.blocg {
  width: 100vw; /* Full screen width */
  background-size: cover; /* Make image cover the block */
  background-position: center center;
  background-repeat: no-repeat;
  padding: 4em 5%;
  box-sizing: border-box;
  color: white;
  position: relative;
  display: flex;
  justify-content: flex-start;
}
.blocgd {
  width: 100vw; /* Full screen width */
  background-size: cover; /* Make image cover the block */
  background-position: center center;
  background-repeat: no-repeat;
  padding: 4em 5%;
  box-sizing: border-box;
  color: white;
  position: relative;
  display: flex;
  justify-content: flex-start;
}

.mot {
  font-family: 'Glacial Indifference';
  background-color: rgba(0, 0, 0, 0.1); /* semi-transparent overlay for readability */
  padding: 2em;
  margin-bottom: 4em;
  /*border: #ffffff 0.15em solid;*/
  border-radius: 10px;
  max-width: 40vw; /* Optional: control text width */
  #citation {
  font-style: italic;
  }
}

.mot h1 {
  font-size: calc(16px + 0.9vw);
  margin-top: 0;
  letter-spacing: 0.2vmax;
  font-weight: 600;
  position: relative;
}
h1::after,
h1::before {
  content: '';
  position: absolute;
  width: 100%;
  height: calc(0.5px + 0.1vw);
  background: linear-gradient(to left,#3d3d3d00,#ffffff);
  bottom: -5px;
  left: 0;
  transform: scaleX(0); /* Initially set to 0 */
  transform-origin: right; /* Animate from right to left */
  transition: transform 0.3s ease-out; /* Smooth transition */
}

h1::before {
  top: -5px;
  transform-origin: left; /* Animate from left to right */
  background: linear-gradient(to right,#3d3d3d00,#ffffff);
}

h1:hover::after,
h1:hover::before {
  transform: scaleX(1); /* Scale to full width on hover */
}


.mot h2 {
  font-size: calc(13px + 0.4vw);
  font-style: italic;
  margin-top: 0.7em;
}
.mot p {
  font-size: calc(12px + 0.3vw);
  font-weight: 200;
  margin: 0.8vmax 0;
}

h3 {
  font-size: 1vmax;
  color: #2a2a41;
  font-family: 'Bahnschrift';
  text-align: left;
  margin:0;
  margin-bottom: 1em;
  font-weight: 600;
  letter-spacing: 0.3em;
  line-height: 1;
}

.footer {
  margin:4%;
  text-align: center;
  font-family: 'Bahnschrift';
  letter-spacing: 0.2em;
  font-size: calc(4px + 0.5vmax);
}

@media screen and (max-width: 700px) {
  .bloc h1 {
    font-size: calc(20px + 1.5vw);
  }
  .mot {
    width:100%;
  }
}