body {
    /*background: url(DSC05473.jpg) no-repeat center fixed; 
    background-size: cover;*/
    background-color: #ffffff;
    margin:0;
    background-image: url(img/horlogerie3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    background-attachment: fixed;
    }

@font-face {
  font-family: Glacial Indifference;
  src: url(../fonts/GlacialIndifference-Regular.otf);
}
@font-face {
  font-family: Glacial Indifference;
  src: url(../fonts/GlacialIndifference-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: Glacial Indifference;
  src: url(../fonts/GlacialIndifference-Italic.otf);
  font-style: italic;
}


.header {
  position:sticky;
  top:0;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:0 auto;
  background-color: #fafafa;
  z-index:4;

  img{
    width:4vw;
    margin:18px;
  }
  .btn {
  position: absolute;
  left : 4%;
  border : calc(0.05em + 0.08vw) solid;
  border-radius: 0.3em;
  display:flex;
  align-items: center;
  text-align: center;
  margin:0.5em 0.5em;
  padding:1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  height:1.5vw;
  background-color: #dadada00; /* transparent */
  width: auto;
    a {
      font-size: calc(5px + 1.1vw);
      font-family: 'Glacial Indifference';
      text-decoration: none;
      text-align: center;
      color:#000000;
      font-weight: 400;
      letter-spacing: 0.3em;
    }
  }
  .contact {
    color: #2a2a41;
    font-family: 'Glacial Indifference';
    text-align: left;
    margin: 0;
    font-weight: 500;
    letter-spacing: 0.3em;
    line-height: 1;
    position:absolute;
    right:0px;
    margin-right: 5%;
    a {
      font-size: calc(5px + 0.8vw);
      display:block;
      font-weight: 200;
      text-align: right;
      text-decoration: none;
      color:#000000;
      font-family: "Glacial Indifference";
    }
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgb(43, 43, 43);

  font-family: 'Glacial Indifference';

  h1 {
    justify-self: flex-start;
    font-size:1.5vmax;
    margin-bottom: 0;
    letter-spacing: 0.2vmax;
    font-weight: 600;
    position:relative;
  }
  h1::after,
  h1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1em;
    background: linear-gradient(to right, #ff0000, #00ffff);
    bottom: -5px;
    left: 0;
    transform: scaleX(0); /* Initially set to 0 */
    transform-origin: right; /* Animate from right to left */
    transition: transform 0.3s ease-out; /* Smooth transition */
  }

  h1::before {
    top: -5px;
    transform-origin: left; /* Animate from left to right */
  }

  h1:hover::after,
  h1:hover::before {
    transform: scaleX(1); /* Scale to full width on hover */
  }



  h2 {
    font-size:1.1vmax;
    font-style: italic;
    margin-top: 0;
  }
  p {
    display:block;
    font-size: calc(7px + 0.4vw);
    font-weight: 200;
    letter-spacing:normal;
    margin:0.8vmax;
    margin-left: 0;
    font-style: normal;
  }

  .blocg {
    align-self:flex-start;
    padding: 2em;
    margin-top: 10vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    text-align: left;
    width: 60vw;
    background-color: #fdfdfd;
    transform: skewX(-5deg);
  }
  .blocd {
    align-self: flex-end;
    padding: 2em;
    right:0%;
    margin-top: 10vh;
    margin-bottom: 5vh;
    margin-right:5vw;
    text-align: left;
    width: 70vw;
    background-color: #fdfdfd;
    transform: skewX(-5deg);
  }
}

h3 {
  font-size: 1vmax;
  color: #2a2a41;
  font-family: 'Bahnschrift';
  text-align: left;
  margin:0;
  margin-bottom: 1em;
  font-weight: 600;
  letter-spacing: 0.3em;
  line-height: 1;
}

@keyframes fill-100 {
  0%   { width: 0; }
  100% { width: 60%; }
}
@keyframes fill-80 {
  0%   { width: 0; }
  100% { width: 48%; }
}
@keyframes fill-70 {
  0%   { width: 0; }
  100% { width: 42%; }
}
@keyframes fill-60 {
  0%   { width: 0; }
  100% { width: 36%; }
}
@keyframes fill-50 {
  0%   { width: 0; }
  100% { width: 30%; }
}
@keyframes fill-40 {
  0%   { width: 0; }
  100% { width: 24%; }
}
@keyframes fill-20 {
  0%   { width: 0; }
  100% { width: 12%; }
}
@keyframes fill-10 {
  0%   { width: 0; }
  100% { width: 6%; }
}

@keyframes colors {
  0% { background-color: #000000;}
  20% { background-color: #cc9263;}
  100% { background-color: #af9474;}
} 

/* Graphique langues */
.graph_l {
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  font-size: 1vmax;
  color: #616161;
  font-family: 'Bahnschrift';
  margin: 0 auto;
  width: 60%; /* ou 50%, selon l'apparence souhaitée */
}

.bar {
  position: relative;
  height: 40px;
  margin: 0;
  width: 0;
  background-color: #000;
}



.bar:hover {
  transform:scaleX(1.05);
  transform-origin:left center;
  transition: transform 0.3s ease-in;
}


.bar.anglais {
  animation: fill-100 4s forwards 1s, colors 4s forwards 1s;
}
.bar.allemand {
  animation: fill-50 4s forwards 1s, colors 4s forwards 1s;
}
.bar.russe {
  animation: fill-10 4s forwards 1s, colors 4s forwards 1s;
}


/* Graphique langages informatiques */
.graph_p {
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  font-size: 1vmax;
  color: #616161;
  font-family: 'Bahnschrift';
  margin: 0 auto;
  width: 60%;
}


.graph_l .row,
.graph_p .row {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  margin-top:1em;
  width:100%;
  gap: 1em; /* optional for spacing */
}


.graph_l .row p,
.graph_p .row p {
  flex: 0 0 5em; /* Largeur fixe pour les labels */
  margin: 0;
  text-align: left;
  }

.bar.py {
  animation: fill-70 4s forwards 1s, colors 4s forwards 1s;
}
.bar.cpp {
  animation: fill-40 4s forwards 1s, colors 4s forwards 1s;
}
.bar.html {
  animation: fill-60 4s forwards 1s, colors 4s forwards 1s;
}

.level {
  margin-left: 1em;
  margin-right: 0;
  width:5em;
  font-size: 1vmax;
  color: #000;
  font-family: 'Bahnschrift';
  white-space: nowrap;
}

.graph_l,
.graph_p {
  width: 100%;
  max-width: 600px;
}


.footer {
  margin:4%;
  text-align: center;
  font-family: 'Bahnschrift';
  letter-spacing: 0.2em;
  font-size: calc(4px + 0.5vmax);
}

@media screen and (max-width: 700px) {
  .blocd h1, .blocg h1 {
    font-size: calc(10px + 1.5vw);
  }

  .blocd h2, .blocg h2 {
    font-size: calc(8px + 1vw);
  }

  .blocd p, .blocg p {
    font-size: calc(7px + 1vw);
    line-height: 1.6;
  }

  .graph_l .row p,
  .graph_p .row p {
    font-size:calc(7px + 1vw);
  }

  .level {
    font-size: calc(5px + 1vw);
  }
}
